{% macro typelist() %}
	<option>bug</option>
    <option>dark</option>
    <option>dragon</option>
    <option>electric</option>
    <option>fairy</option>
    <option>fighting</option>
    <option>fire</option>
    <option>flying</option>
    <option>ghost</option>
    <option>grass</option>
    <option>ground</option>
    <option>ice</option>
    <option>normal</option>
    <option>poison</option>
    <option>psychic</option>
    <option>rock</option>
    <option>steel</option>
    <option>water</option>
{% endmacro %}