{% macro typelist(types, attrtype) %}
	 {% for type in types %}
          {% if type == attrtype %}
            <option class="capitalize" value={{type}} selected>{{type}}</option>
          {% else %}
            <option class="capitalize" value={{type}}>{{type}}</option>
          {% endif %}
        {% endfor %}
{% endmacro %}

{% macro pokelist(pokes, pokemon_id) %}
	{% for poke in pokes %}
		{% if poke.nr == pokemon_id %}
			<option value={{poke.nr}} selected>#{{poke.nr}} {{poke.name}}</option>
		{% else %}
            <option value={{poke.nr}}>#{{poke.nr}} {{poke.name}}</option>
          {% endif %}
        {% endfor %}
{% endmacro %}