{% extends "base.html" %}
{% block content %}
  <h1>Pokédex</h1>

  <p>
    <a class="btn btn-{{type}} btn-xs capitalize">{{type}}</a>-tyyppiset Pokémonit
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Nimi</th>
        <th>Tyyppi</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    {% for poke in pokes %}
      <tr>
        <td>#{{poke.nr}}</td>
        <td><a href="{{base_path}}/pokedex/{{poke.nr}}">{{poke.name}}</a></td>
        <th>
        <a class="btn btn-{{poke.type1}} btn-xs capitalize" href="{{base_path}}/pokedex/type/{{poke.type1}}">{{poke.type1}}</a>
        {% if poke.type2 is not null %}
          <a class="btn btn-{{poke.type2}} btn-xs capitalize" href="{{base_path}}/pokedex/type/{{poke.type2}}">{{poke.type2}}</a>
        {% endif %}
        </th>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/pokedex/{{poke.nr}}/edit">Muokkaa</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    <a href="{{base_path}}/pokedex" class="btn btn-default">Takaisin</a>
  </p>
{% endblock %}