{% extends "base.html" %}
{% block content %}
  <h1>#039 Jigglypuff</h1>
  
  <!-- Tyypit -->
  <p>
    <a class="btn btn-normal btn-xs" href="#">Normal</a>
    <a class="btn btn-fairy btn-xs" href="#">Fairy</a>
  </p>
  
  <!-- Kuvaus -->
  <p>
    Jigglypuff's vocal cords can freely adjust the wavelength of its voice. This Pokémon uses this ability to sing at precisely the right wavelength to make its foes most drowsy.
  </p>

  <!-- Sijainnit listana -->

  <h4>Pesien sijainnit</h4>
  <p>
    <a href="#" class="btn btn-success btn-sm">Lisää pesä</a>
  </p>
  <ul>
    <li><strong>Helsinki:</strong> Kumpulan Kampus, Exactum </li>
    <li><strong>Turku:</strong> Turun Tuomiokirkko</li>
  </ul>

  <!-- Painikkeet -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
{% endblock %}